mss==10.2.0
numpy==2.5.3
opencv-python==4.13.0.92
winrt-runtime==3.2.1
winrt-Windows.Media.Ocr==3.2.1
winrt-Windows.Graphics.Imaging==3.2.1
winrt-Windows.Storage==3.2.1
winrt-Windows.Storage.Streams==3.2.1
winrt-Windows.Globalization==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
